#container {
  margin: 0px auto;
  width: 968px;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: rgb(17, 37, 62);
}

.leaflet-container {
  margin: 0px auto;
  width: 968px;
  height: 60vh;
}

h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 92px;
  margin-top: 25px;
  margin-bottom: 25px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
  margin-top: 16px;
}

p > span {
  display: block;
}
